@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Spectral';
    font-display: fallback;
    font-weight: 400;
    src: url('/fonts/Spectral-Regular.ttf');
  }
  @font-face {
    font-family: 'Spectral';
    font-display: fallback;
    font-weight: 300;
    src: url('/fonts/Spectral-Light.ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-display: fallback;
    font-weight: 300;
    src: url('/fonts/Inter-Light.ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-display: fallback;
    font-weight: 500;
    src: url('/fonts/Inter-Medium.ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-display: fallback;
    font-weight: 400;
    src: url('/fonts/Inter-Regular.ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-display: fallback;
    font-weight: 700;
    src: url('/fonts/Inter-Bold.ttf');
  }

  html {
    font-family: 'Spectral', system-ui, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: Inter, system-ui, sans-serif;
  }

  a:hover {
    opacity: 70%;
  }

  .dark a:hover {
    opacity: 60%;
  }
}
