@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.primary');
  }

  @font-face {
    font-family: 'Inter';
    font-display: fallback;
    font-weight: 300;
    src: url('/fonts/Inter-Light.ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-display: fallback;
    font-weight: 500;
    src: url('/fonts/Inter-Medium.ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-display: fallback;
    font-weight: 400;
    src: url('/fonts/Inter-Regular.ttf');
  }

  @font-face {
    font-family: 'Inter';
    font-display: fallback;
    font-weight: 700;
    src: url('/fonts/Inter-Bold.ttf');
  }

  a:hover {
    opacity: 60%;
  }
}
